<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Gestão Smart</title>
	
	<!-- core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/prettyPhoto.css" rel="stylesheet">
    <link href="../../css/main2.css" rel="stylesheet">
    <link href="../../css/responsive2.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       

</head><!--/head-->

<body class="homepage">

    <header id="header">
       

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index">Gestão Smart</a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index">Home</a></li>
                        <li><a href="#empresa">Empresa</a></li>
                        <li><a href="#servicos">Serviços</a></li>
                        <li><a href="login">Login</a></li>              
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" >
        <div class="carousel slide">
            
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(../../image/slider/bg4.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Gestão Smart</h1>
                                    <h1 class="animation animated-item-1">Uma maneira prática e rápida para sua Ordem de Serviço.</h1>
                                    <h2 class="animation animated-item-2">Cadastre-se em nosso sistema e comece agora a usufruir desta ferramenta que todos utilizam.</h2>
                                    <a class="btn-slide animation animated-item-3" href="cadastro_site">Cadastre-se</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="../../image/slider/img1.png" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->



               

            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="feature" >
        <a name = "servicos"></a>
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Serviços</h2>
                <p class="lead">Conheça nosso diferencial</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                        
                            <h2>Emissão de Ordem de Serviço</h2>
                            <h3>Um sistema completo para você que preocura emitir Ordens de Serviço</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                      
                            <h2>Produtos | Serviços</h2>
                            <h3>Cadastre seus serviços | produtos de forma ágil para a criação das suas Ordens de Serviço.</h3>
                        </div>
                    </div><!--/.col-md-4-->                    

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                      
                            <h2>Cadastro de Clientes</h2>
                            <h3>Cadastre seus clientes diferenciando os de pessoa fisica e juridica </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                   
                            <h2>Site Responsivo</h2>
                            <h3>Use qualquer dispositivo para acessar nosso sistema, pois ele é responsivo para qualquer tela</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                           
                            <h2>Geração de PDF</h2>
                            <h3>Você pode gerar a qualquer hora e momento suas Ordens de Serviços com nosso gerador de PDF</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                
                            <h2>Sistema Gratuito</h2>
                            <h3>Utilize todas as nossas ferramentas de forma gratuita</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <a name = "empresa"></a>
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Conheça a Empresa</h2>
                <p class="lead">A empresa Gestão Smart está no mercado desde 2016, fundada por três alunos de Sistema de Informação, onde seu principal objetivo era criar um sistema para o trabalho da faculdade.<br>Após a finalização do trabalho viram que a idéia era inovadora que poderiam ter grandes diferencias que destacariam entre as outras que prestam este tipo de serviço.<br>Em Novembro de 2017 eles lançaram o projeto por um sistema via Web, onde qualquer empresa poderia emitir uma Ordem de Serviço sem complicação e de forma totalmente gratuita.</p>
            </div>



            <div class="container">
                        <img id="imagem_time" class="img-responsive" src="../../image/portfolio/recent/item8.png" alt="">
            </div>

        </div><!--/.container-->
    </section><!--/#recent-works-->

   




  <footer id="footer" class="footer">
        <div class="container">
            <div class="row" align="center">
                <div class="col-sm-12">
                    <b>
                        &copy; Copyright 2017 - Gestão Smart</b>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.prettyPhoto.js"></script>
    <script src="../../js/jquery.isotope.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/wow.min.js"></script>
</body>
</html>